**/package/
**/.pulumi/
out.txt
translation_lambda.zip

**/dist/**

**/build/**
src/**/*.zip
src/**/bin/**

.DS_Store

venv
venv-local
.vscode

frontend/dist
data
**/DEADJOE
**/__pycache__/**
**/*.pyc
.coverage

# **/.env used for local testing
.env-*
!.env-gdc
Pulumi.*.*

iac/Pulumi.simple*
pulumi_output.json
__pycache__
src/profile_python/lambda/handlers/package/*
src/profile_python/lambda/handlers/build/*
**/set-target-pulumi-vars.sh
**/.idea/
*.iml

lib.egg-info
/dockDockBuildParams.json
**/checksum
**/.pytest_cache/
/aws_session
auto_tests/resources/ext_pk/
auto_tests/test_report/**
auto_tests/ls_volume

testdebug.py

/ls_volume/

**/target/**
target
.idea

/*.ipr
/*.iws
